body {
    background: url("Images/play-screen.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 4px 2px red;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

#play-screen {
    background: url("Images/abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    background: url("Images/abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    margin-left: 70%;
    margin-top: -6%;
}

ul {
    font-size: 40px;
    margin-top: -31%;
    text-align: right;
    list-style-type: none;
}

#dev {
    position: relative;
    text-align: right;
    list-style-type: none;
    font-size: 40px;
}

#play {
    margin-top: -31%;
    margin-left: 40%;
    font-size: 50px;
    font-family: 'VT323', monospace;
    width: 20%;
    border-radius: 12px;
    background-color: #E80C7A;
    color: white;
    text-shadow: 2px 4px 2px blue;
}

#play:focus {
    outline: none;
}

#play:hover {
    color: #E80C7A;
    background-color: black;
    text-shadow: 2px 3px 2px white;
    box-shadow: 5px 5px 112px blue;
}

#robot {
    z-index: -1;
    position: block;
    margin-left: 33%;
    margin-top: 1%;
    width: 30%;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 300px;
    border: 3px solid #73AD21;
}
